<div id="lelaBack">
    <div id="frontOnBack">\{{> Front}}</div>

    <div id="answerBox" class="messageGroup {{#if isProduction}}learned{{else}}known{{/if}}">
    	<div class="senderBox">
    		<div class="sender"></div>
    		<div id="{{#if isProduction}}learned{{else}}known{{/if}}Language" class="language mainTexts"></div>
    	</div>
    	<div class="messagesBox">
        	<div id="{{#if isProduction}}learned{{else}}known{{/if}}Answer" class="{{#if isProduction}}learned{{else}}known{{/if}} message mainTexts">
        		<div>
        			{{#if isProduction}}\{{{learned}}}{{else}}\{{{known}}}{{/if}}
        		</div>
        	</div>
        	{{> extras}}
    	</div>
    </div>
</div>