\{{#if example}}
<div id="example" class="message extra">
    <div>\{{{example}}}</div><div class="extra-icon">🔬️</div>
</div>
\{{/if}}
\{{#if mnemonic}}
<div id="mnemonic" class="message extra">
    <div>\{{{mnemonic}}}</div><div class="extra-icon">🤷️</div>
</div>
\{{/if}}
\{{#if usage_note}}
<div id="usage_note" class="message extra">
    <div>\{{{usage_note}}}</div><div class="extra-icon">🗣️</div>
</div>
\{{/if}}