<html>
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://127.0.0.1:8080/ http://localhost:8080/; script-src 'unsafe-inline' 'self' http://127.0.0.1:8080/ http://localhost:8080/; img-src data: 'self' http://127.0.0.1:8080/ http://localhost:8080/; child-src 'none'; object-src 'none'">
        {{{removeJsTag htmlWebpackPlugin.tags.headTags}}}
	</head>
	<body class="card">
		<div id="qa">
			{{> Front}}
		</div>
	</body>
</html>