\{{#include_production}}<div id="lelaFront">
{{> ../scriptTag}}
<!-- <img class="cog-icon" src='../assets/icons8-settings.svg'></img> -->
<div id="promptBox" class="messageGroup hvr-shadow known">
	<div class="senderBox">
		<div class="sender"></div>
		<div id="knownLanguage" class="language mainTexts"></div>
	</div>
	<div class="messagesBox">
		<div id="known" class="message known mainTexts">
			<div class="message-content">\{{{known}}}</div>
		</div>
		{{> ../badges}}
	</div>
    <div id="learned" class="hidden">\{{{learned}}}</div>
</div>

{{> ../answerBoxPreview messageGroupClass='learned'}}

{{> ../cardData}}</div>\{{/include_production}}