\{{#include_recognition}}<div id="lelaFront">
{{> ../scriptTag}}
<!-- <img class="cog-icon" src='../assets/icons8-settings.svg'></img> -->
<div id="promptBox" class="messageGroup hvr-shadow learned">
    <div class="senderBox">
		<div class="sender"></div>
		<div id="learnedLanguage" class="language mainTexts"></div>
	</div>
	<div class="messagesBox">
	    <div id="learned" class="message learned mainTexts">
	    	<div class="message-content">\{{{learned}}}</div>
		</div>
	    {{> ../badges}}
	</div>
    <div id="known" class="hidden known">\{{{known}}}</div>
</div>

{{> ../answerBoxPreview messageGroupClass='known'}}

{{> ../cardData}}</div>\{{/include_recognition}}