\{{#if image}}<div id="lelaFront">
{{> ../scriptTag}}
<!-- <img class="cog-icon" src='../assets/icons8-settings.svg'></img> -->
<div id="promptBox" class="promptBox messageGroup hvr-shadow known">
	<div class="senderBox">
		<div class="sender"></div>
		<div id="knownLanguage" class="language mainTexts"></div>
	</div>
	<div class="messagesBox">
		<div id="known" class="message known mainTexts image">
			<div class="message-content">
				\{{{image}}}<div id="mediaCredits">\{{{media_credits}}}</div>
			</div>
		</div>
		{{> ../badges}}
	</div>
    <div id="learned" class="hidden">\{{{learned}}}</div>
</div>

{{> ../answerBoxPreview messageGroupClass='learned'}}

{{> ../cardData}}</div>\{{/if}}